<main class="main">
<div class="main_inner">
  <div class="page-image">
    <h1 class="page-heading">記事一覧</h1>
  </div>
  <div class="card__wrapper">
    <div class="card">
      <img src="/assets/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">記事タイトルが入ります</h2>
        <p class="card__summary">
          記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">記事タイトルが入ります</h2>
        <p class="card__summary">
          記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">記事タイトルが入ります</h2>
        <p class="card__summary">
          記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">記事タイトルが入ります</h2>
        <p class="card__summary">
          記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">記事タイトルが入ります</h2>
        <p class="card__summary">
          記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
        </p>
      </div>
    </div>
    <div class="card">
      <img src="/assets/image.png" alt="" class="card__img" />
      <div class="card__body">
        <h2 class="card__title">記事タイトルが入ります</h2>
        <p class="card__summary">
          記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。記事の要約が入ります。
        </p>
      </div>
    </div>
  </div>
</div>
</main>