
<header>
<nav>
 <div class="drawer">
 <!--- いわゆるロゴ svg を利用------>
   <div id="logo"><a href="#"><img src="images/logo.svg" alt=""/></a></div>
 
<!-- ハンバーガーメニュー部分 --> 
<div class="Toggle">
　　<span></span>
　　<span></span>
　　<span></span>
</div>
  </div>
 <!-------------- drawer ここまで-->
 
 <div class="menu">
  <ul>
   <li><a href="#">会社概要</a></li>
   <li><a href="#">サービス</a></li>
   <li><a href="#">店舗案内</a></li>
   <li><a href="#">お問い合わせ</a></li>
  </ul>
 </div>
</nav>
</header>